.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    padding: 10px;
}

.input-container label {
    margin-bottom: 10px;
}

.help-text {
    color: grey;
    font-size: 12px;
}