.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container input {
  padding: 10px;
}

.input-container label {
  margin-bottom: 5px;
}

.help-text {
  color: grey;
  font-size: 12px;
}
